In [2]:
"""Ans1:-
For loop is used when priorly (in beginning before starting of loop) we know that how many times the loop should be executed while while loop is used when we didn't 
know in beginning how many times the loop should be executed"""

"Ans1:-\nFor loop is used when priorly (in beginning before starting of loop) we know that how many times the loop should be executed while while loop is used when we didn't \nknow in beginning how many times the loop should be executed"

In [3]:
"""For eg:-"""
l=[1,2,3,4,5,6,7,8]
for i in l:
    print(i)

1
2
3
4
5
6
7
8

In [5]:
i=0
while(i<10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [9]:
#Ans 2:-
sum=0
product=1
for i in range(1,11):
    sum=sum+i
    product=product*i
print(sum,product)

55 3628800

In [12]:
sum=0
product=1
i=1
while(i<11):
    sum=sum+i
    product=product*i
    i=i+1
print(sum,product)

55 3628800

In [19]:
#Ans 3:-
bill=0
units=int(input("Enter no. of units consumed by you: "))
if units>300:
    bill=(units-300)*20+1000+600+450
elif units>200 and units<300:
    bill=(units-200)*10+600+450
elif units>100 and units<200:
    bill=(units-100)*6+450
else:
    units*4.5
bill

Enter no. of units consumed by you:  310

2250

In [21]:
#Ans 4:-
cube=1
l=[]
for i in range(1,101):
    cube=i*i*i
    if cube%4==0 or cube%5==0:
        l.append(i)
l

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [22]:
i=1
l=[]
while(i<101):
    cube=i*i*i
    if(cube%4==0 or cube%5==0):
        l.append(i)
    i=i+1
l

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [23]:
#Ans 5:-
vowels=['a','e','i','o','u','A','E','I','O','U']
str="I want to become a data scientist"
count=0
for i in str:
    if i in vowels:
        count=count+1
count

12